.contact .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  color: #fff;

 font-family: 'Calibri';
font-style: normal;
  flex-direction: row;
}
.overly {
  background-image: linear-gradient(#07d6688d, rgba(0 , 0 , 0 , 0.85));
  /* background: rgba(4, 245, 156, 0.6); */
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
form {
  width: 70%;
  min-width: 400px;
}
.information-detail span {
  display: block;
  font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 42px;
/* or 175% */

text-align: justify;

color: #FFFFFF;
}
.touch .contact form .title {
  font-family: "Calibri";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 42px;
  /* or 175% */

  text-align: justify;

  color: #ffffff;
}
.contact form .title {
  margin: 18px 0;
  font-size: 24px;
}
.name-email input,
.phone-subject input,
textarea {
  background-color: #00000000;
  border: 0;
  outline: 0;

  color: #fff;
  border-bottom: 1px solid #fff;
  margin: 15px;
  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  /* line-height: 42px; */
}
.name-email input,
.phone-subject input {
  width: 37%;
  height: 40px;
}
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
textarea {
  width: 60%;
}
.information {
  width: 25%;
}

.information-title{
    font-family: 'Calibri';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 52px;
}
.information  .list-icon{
    width: 100%;
    margin-top: 25px;
}
 .information .list-icon i{
    color: #FFF;
    font-size: 18px;
    
}
i{
  cursor: pointer;
}
.submit input{
 padding: 15px 0;
 background-color: #00000000;
 border: 1px solid #07D68B;
 color: #07D68B;
 width: 140px;
 border-radius: 50px;
 -webkit-border-radius: 50px;
 -moz-border-radius: 50px;
 -ms-border-radius: 50px;
 -o-border-radius: 50px;
 font-size: 14px;
 cursor: pointer;
}
.submit{
  margin: 30px 0 50px;
}
.contact-content{
 display: flex;
 flex-direction: column;
 padding: 170px 0;
 justify-content: center;
}
@media screen and (max-width: 690px) {
  form ,.information{
    min-width: 100%;
  }
 
}
